{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
          <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Overview</span>
            <h3 class="page-title">Data Tables</h3>
          </div>
        </div>
        <!-- End Page Header -->
        <!-- Default Light Table -->
        <div class="row">
          <div class="col">
            <div class="card card-small mb-4">
              <div class="card-header border-bottom">
                <h6 class="m-0">Active Patient</h6>
              </div>
              <div class="card-body p-0 pb-3 text-center">
                <table class="table mb-0">
                  <thead class="bg-light">
                    <tr>
                      <th scope="col" class="border-0">Room #</th>
                      <th scope="col" class="border-0">First Name</th>
                      <th scope="col" class="border-0">Last Name</th>
                      <th scope="col" class="border-0">DOB</th>
                      <th scope="col" class="border-0">Gender</th>
                      <th scope="col" class="border-0">Primary Diagnosis</th>
                      <th scope="col" class="border-0">MRN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>201</td>
                      <td>Ali</td>
                      <td>Kerry</td>
                      <td>10/03/1945</td>
                      <td>Heart Failure</td>
                      <td>FEMALE</td>
                      <td>1070339</td>
                    </tr>
                    <tr>
                      <td>202</td>
                      <td>Clark</td>
                      <td>Angela</td>
                      <td>05/06/1956</td>
                      <td>Alcohol Withdrawal</td>
                      <td>FEMALE</td>
                      <td>18501647</td>
                    </tr>
                    <tr>
                      <td>203</td>
                      <td>Jerry</td>
                      <td>Nathan</td>
                      <td>12/05/1975</td>
                      <td>NSTEMI</td>
                      <td>MALE</td>
                      <td>2144225</td>
                    </tr>
                    <tr>
                      <td>204</td>
                      <td>Colt</td>
                      <td>Angela</td>
                      <td>04/01/1988</td>
                      <td>GERD</td>
                      <td>FEMALE</td>
                      <td>1473416</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- End Default Light Table -->
        <!-- Default Dark Table -->
        <div class="row">
          <div class="col">
            <div class="card card-small overflow-hidden mb-4">
              <div class="card-header bg-dark">
                <h6 class="m-0 text-white">Discharged Patients</h6>
              </div>
              <div class="card-body p-0 pb-3 bg-dark text-center">
                <table class="table table-dark mb-0">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="border-0">Room #</th>
                      <th scope="col" class="border-0">First Name</th>
                      <th scope="col" class="border-0">Last Name</th>
                      <th scope="col" class="border-0">DOB</th>
                      <th scope="col" class="border-0">Gender</th>
                      <th scope="col" class="border-0">Primary Diagnosis</th>
                      <th scope="col" class="border-0">MRN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>201</td>
                      <td>Graham</td>
                      <td>Brent</td>
                      <td>10/03/1945</td>
                      <td>Heart Failure</td>
                      <td>MALE</td>
                      <td>107559</td>
                    </tr>
                    <tr>
                      <td>202</td>
                      <td>Clark</td>
                      <td>Angela</td>
                      <td>10/05/1965</td>
                      <td>Heart Failure</td>
                      <td>FEMALE</td>
                      <td>10703349</td>
                    </tr>
                    <tr>
                      <td>203</td>
                      <td>Wylie</td>
                      <td>Joseph</td>
                      <td>10/03/1945</td>
                      <td>Heart Failure</td>
                      <td>MALE</td>
                      <td>1074339</td>
                    </tr>
                    <tr>
                      <td>204</td>
                      <td>Garth</td>
                      <td>Clementine</td>
                      <td>11/03/1945</td>
                      <td>Respiratory Failure</td>
                      <td>MALE</td>
                      <td>1070339</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- End Default Dark Table -->
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
